<%

var keys = ["redis_version", "multiplexing_api", "uptime_in_days", "used_cpu_sys",
  "used_cpu_user", "connected_clients", "used_memory_human",
  "used_memory_peak_human", "mem_fragmentation_ratio",
  "total_connections_received", "total_commands_processed", "expired_keys",
  "evicted_keys", "keyspace_hits", "keyspace_misses", "vm_enabled", "db0"
];

%>

<div class="span5">
  <table class="table table-bordered table-striped">
       <caption><h3><%=stat.host%>:<%=stat.port%></h3></caption>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <%
        keys.forEach(function(key) {
          if(stat[key]){%>
      <tr>
        <td>
          <%=key%>
        </td>
        <td>
          <span>
          <%=stat[key]%>
          </span>
        </td>
      </tr>      
      <%}});%>
    </tbody>
  </table>
</div>